
{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block contents %}
<script src="{% static 'custom/js/tool_generator.js' %}"></script>

    <!-- Page header -->
<div class="page-header">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold"></span>
				{% if ag %}{{ edit }} {% else %} {{ add }}{% endif %}</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

    </div>
</div>
<!-- /page header -->
<div class="content pt-0">

        <!-- 2 columns form -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Adhoc file request</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <form action="" method="post" name="myform" id="myform" onsubmit="return validate(this);">
                {% csrf_token %}


<!--                    <select name="item_id">-->
<!--                    {% for entry in q %}-->
<!--                        <option value="{{ entry.name }}">{{ entry.name }}</option>-->
<!--                    {% endfor %}-->
<!--                    </select>-->



                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">select type(s)</label>
                        <div class="col-lg-10">
                        <select id="types" name="types" multiple="multiple" class="form-control select"> data-fouc>

                            <option value="stress">Stress</option>
                            <option value="mcvar">Mcvar</option>
                            <option value="headlines">Headlines</option>
                            <option value="headline_assets">Headlines Assets</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">select portfolio(s)</label>
                        <div class="col-lg-10">
                        <select id="portfolios" name="portfolios" multiple="multiple" class="form-control select"> data-fouc>
                            <option value="p1">p1</option>
                            <option value="p2">p2</option>
                            <option value="p3">p3</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">select stress model </label>
                        <div class="col-lg-10">
                        <select id="stress" name="stress_model" class="form-control">
                            <option value="default">Default select box</option>
                            <option value="MAC.XL">MAC.XL</option>
                            <option value="MAC.L">MAC.L</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">select mcvar model</label>
                        <div class="col-lg-10">
                        <select id="mcvar" name="mcvar_model" class="form-control">
                            <option value="default">Default select box</option>
                            <option value="BIM303">BIM303</option>
                            <option value="MAC.L">MAC.L</option>
                            <option value="BIM303XL">BIM303XL</option>
                            <option value="MAC.XL">MAC.XL</option>
                            <option value="MAC.L GEMLT">MAC.L GEMLT</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">select headline model</label>
                        <div class="col-lg-10">
                        <select id="headlines" name="headlines_model" class="form-control">
                            <option value="default">Default select box</option>
                            <option value="BIM303">BIM303</option>
                            <option value="MAC.L">MAC.L</option>
                            <option value="BIM303XL">BIM303XL</option>
                            <option value="MAC.XL">MAC.XL</option>
                            <option value="MAC.L GEMLT">MAC.L GEMLT</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">select headline assets model</label>
                        <div class="col-lg-10">
                        <select id="headline_assets" name="headline_assets_model" class="form-control">
                            <option value="default">Default select box</option>
                            <option value="BIM303">BIM303</option>
                            <option value="MAC.L">MAC.L</option>
                            <option value="BIM303XL">BIM303XL</option>
                            <option value="MAC.XL">MAC.XL</option>
                            <option value="MAC.L GEMLT">MAC.L GEMLT</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Select date range:</label>
                        <div class="col-lg-10 input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar22"></i></span>
                            </span>
                            <input type="text" class="form-control daterange-basic" value="" name="date_range">>
                        </div>
                    </div>

                    <div class="form-check form-check-switchery">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input-switchery" checked name="ex_weekends" data-fouc>
                            Exclude weekends
                        </label>
                    </div>

                    <div class="text-right">
                        <button type="submit" name="go" id="go" class="btn btn-primary">Generate file <i class="icon-paperplane ml-2"></i></button>
                    </div>
                </form>
            </div>
        </div>

		<!-- /2 columns form -->

</div>

<script>
    function validate()
{
    // if (allow) // For example, checking that a field isn't empty
    // {
    //    return true; // Allow the form to submit
    // }
    // else
    // {
    //    return false; // Stop the form submitting
    // }
    // var arr = $(e.target).val();
    // let action = $("#types option:selected").attr('data-id');
    // var id = $('#types').find(':selected').data('name');
    // var select = $("#types")[0].selectedIndex;
    // var id= $("#types option:eq("+select+")").data("id");
    // var type=$("#types option:eq("+select+")").data("name");
    // console.log(id +" "+ type)
    // alert("val");
}

$('#go').click(function(e) {
    // e.preventDefault();
    var event = (window.event || e);
    // event.preventDefault();

    // var arr = $("#portfolios").val();
    // // console.log(select);
    // console.log(arr);
    // alert(arr);
    let arr = $("#portfolios").val();
    let arr2 = $("#stress").val();
    let arr3 = $("#mcvar").val();
    let arr4 = $("#headlines").val();
    let arr5 = $("#headline_assets").val();
    let arr_types = $("#types").val();
    // alert(arr_types.length===0);
    // console.log(arr_types);
    // var n = arr_types.includes("stress");
    // alert(n);
    if(arr_types.length===0){
        alert("Please select type");
        event.preventDefault();

    }else {
        if ((arr_types.includes("stress")) && (arr2 === 'default')) {
            alert("yes stress")
            event.preventDefault();

        } else {
            alert("no stress")
        }
        if ((arr_types.includes("mcvar")) && (arr3 === 'default')) {
            alert("yes mcvar")
            event.preventDefault();

        } else {
            alert("no mcvar")
        }
        if ((arr_types.includes("headlines")) && (arr4 === 'default')) {
            alert("yes headlines")
            event.preventDefault();

        } else {
            alert("no headlines")
        }
        if ((arr_types.includes("headline_assets")) && (arr5 === 'default')) {
            alert("yes headline_assets")
            event.preventDefault();

        } else {
            alert("no headline_assets")
        }
    }

    // if((jQuery.inArray("stress", arr_types) != -1)&&(arr2==='default')){
    //     alert("select stress model");
    //     event.preventDefault();
    //     }
    //   else {
    //     alert("false this1");
    //     return true;
    //   }
    // if((jQuery.inArray("mcvar", arr_types) != -1)&&(arr2==='default')){
    //     alert("select mcvar model");
    //     event.preventDefault();
    //     }
    //   else {
    //     alert("false this2");
    //     return true;
    //   }
    //
    // if((jQuery.inArray("headlines", arr_types) != -1)&&(arr2==='default')){
    //     alert("select headlines model");
    //     event.preventDefault();
    //     }
    //   else {
    //     alert("false this3");
    //     return true;
    //   }
    //
    // if((jQuery.inArray("headline_assets", arr_types) != -1)&&(arr2==='default')){
    //     alert("select headline assets model");
    //     event.preventDefault();
    //     }
    //   else {
    //     alert("false this4");
    //     return true;
    //   }

});

</script>

{% endblock %}